@charset "UTF-8";

/* PALETA DE CORES

BORDO #591C21

CINZA ESCURO #044040

VERMELHO CLARO #D92525

VERMELHO ESCURO #8C1F28
*/

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #044040;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}
section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: white;

    width: 250px;
    height: 500px;
    border-radius: 20px;
    transform: translate(-50%, -50%);
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.664);

    transition: width .3s, heigth .3s;
}

section#login > div#imagem {
    display: block;
    background: #591C21 url(../imagens/pexels-pixabay-41951.jpg);
    height: 200px;
    background-size: cover;
    background-position: right top
    
}
section#login > div#formulario {
    padding: 10px;
    display: block;

}